@charset "UTF-8";

/* 추천 게시판 디자인 */

.container-900 {
	width: 1050px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    margin: 100px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding : 10px 80px 80px 80px;
    margin-top: 0px;
}
/* 스타일 코드를 작성합니다. */
.form {
    padding: 20px;

}

.form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 16px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left {
  width: 50%;
}

.write-btn {
    
    width: 10%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(64, 165, 187);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    
}

.form p {
    text-align: center;
    margin-top: 20px;
}

.form a {
    color: rgb(64, 165, 187);
    text-decoration: none;
}

.form p1 {
    color: rgb(64, 165, 187);
    text-decoration: none;
    font-weight: bolder;
    
}

.form a:hover {
    text-decoration: none;
}
.post {
	display: flex;
	align-items: center;
	gap: 16px;
	  
}
.table .link{
	font-size:18px;
  }
body {
  background-color: #f6f6f6;
}
.post {
    display: flex;
    align-items: center;
    padding: 10px;
    
}

.post img {
    width: 230px;
    height: 170px;
    margin-right: 10px;
    margin: 20px;
}

.post-content {
    flex: 1;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.post-header .titleName {
    margin-bottom: 30px;
}

.post-caption {
    margin: 10px;
}

.post-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 15px;
}

.post-footer span {
    margin-left: 10px;
}
      h2{
        font-size: 30px;
        display: inline;
        margin-top: 25px;
      }
.boseng{
	height:1px;
	background-color:#40a5bb;
}